* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--dark-text);
  padding-bottom: 300px;
}

a {
  text-decoration: none;
  color: var(--dark-text);
  font-family: "Open Sans", sans-serif;
}

:root {
  --dark-text: #000000;
  --jumbotron: #b4d0e7;
  --buttons-bg: #0061ff;
  --withe-bg: #ffffff;
  --color-button: #ffffff;
  --free-try: #61092c;

  --designit: #a2d39b;
  --middle-designit: #f5f5f5;
  --florida: #0093ce;
  --arizona: #61082b;
  --topps: #ff1c1c;
  --hearst: #b4d0e7;
  --clear-channel: #ffd830;
  --world-bicycle: #d5001f;
  --lonely-planet: #0d2481;
}

/* #region HEADER */

header {
  border-bottom: 1px solid gainsboro;
  margin-bottom: 80px;
}

.header-container {
  width: 98%;
  max-width: 2200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div {
    padding: 10px;
  }
}

/* #endregion HEADER */

/* #region MAIN */

.login-form {
  width: 370px;
  margin: auto;
}

.login-form > * {
  width: 100%;
}

.login-form h4 {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 15px;
}

.google,
.apple {
  padding: 12px;
  font-size: 0.9rem;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid rgb(188, 188, 188);
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  & span {
    flex-grow: 1;
  }
}

.google {
  border-radius: 5px;
  border-color: gainsboro;
}

.google:hover {
  background-color: #fbfcff;
  border-color: #d2e3fc;
}

.apple:hover {
  background-color: rgba(0, 0, 0, 0.077);
}

.or {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  & .blank {
    flex-grow: 1;
    border-top: 1px solid gainsboro;
  }

  & span {
    padding: 0 10px;
  }
}

.email label {
  color: rgb(188, 188, 188);
  font-size: 0.9;
}

.email input {
  margin-top: 5px;
  margin-bottom: 15px;

  width: 100%;
  padding: 15px;
  font-size: 0.9rem;
  color: rgb(188, 188, 188);
  border: 1px solid rgb(188, 188, 188);
}

.email input:hover,
.email label:hover .email-input {
  border-color: black;
}

.email input:focus-visible {
  outline: 2px solid var(--buttons-bg);
}

.continue {
  padding: 15px;
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  background-color: var(--buttons-bg);
  border: none;
}

.continue:hover {
  background-color: blue;
}

/* #endregion MAIN */
