* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--dark-text);
  font-family: "Open Sans", sans-serif;
}

button {
  background-color: var(--buttons-bg);
  border: none;
  font-size: 1rem;
}

button a {
  color: var(--color-button);
}

:root {
  --dark-text: #000000;
  --jumbotron: #b4d0e7;
  --buttons-bg: #0061ff;
  --withe-bg: #ffffff;
  --color-button: #ffffff;
  --free-try: #61092c;

  --designit: #a2d39b;
  --middle-designit: #f5f5f5;
  --florida: #0093ce;
  --arizona: #61082b;
  --topps: #ff1c1c;
  --hearst: #b4d0e7;
  --clear-channel: #ffd830;
  --world-bicycle: #d5001f;
  --lonely-planet: #0d2481;
}

/* #region UTILITIES */
.container {
  width: 60%;
  max-width: 1200px;
  margin: auto;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.col-4 {
  width: calc(90% / 12 * 4);
}

.bg-designit {
  background-color: var(--designit);
}

.bg-asu {
  background-color: var(--arizona);
}

.bg-florida {
  background-color: var(--florida);
}

.bg-topps {
  background-color: var(--topps);
}

.bg-bicycle {
  background-color: var(--world-bicycle);
}

.bg-hearst {
  background-color: var(--hearst);
}

.bg-lonely {
  background-color: var(--lonely-planet);
}

.bg-clear {
  background-color: var(--clear-channel);
}
/* #endregion UTILITIES */

/* #region HEADER */

header {
  /* background-color: red; */
  height: 80px;
}

.header-container {
  height: 100%;
  width: 98%;
  max-width: 2200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right,
.header-left {
  display: flex;
}

.link,
.logo {
  padding: 15px;
}

.header-right > * {
  padding: 15px;
}

.header-right {
  & button a:hover {
    background-color: var(--buttons-bg);
  }
}

.header-right a:hover {
  background-color: var(--middle-designit);
}

.header-right {
  & button a:hover {
    background-color: var(--buttons-bg);
  }
}

header a {
  font-size: 1rem;
}

.dropdown-menu {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 230px;
  background-color: var(--middle-designit);
}

.dropdown-content a {
  display: block;
  padding: 15px;
}

.dropdown-content a:hover {
  background-color: rgb(204, 204, 204);
}

.link:hover {
  background-color: var(--middle-designit);
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

.get-started {
  padding: 5px 15px;
}

/* #endregion HEADER */

/* #region MAIN */

/* #region JUMBOTRON */
.jumbotron {
  background-color: var(--jumbotron);
  padding-top: 100px;
  height: 750px;
}

.jumbo-btn {
  padding: 10px 20px;
  margin-bottom: 30px;
}

.jumbo-section h1 {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 50px;
}

.text-pic {
  display: flex;
  flex-wrap: wrap;
}

.txt {
  width: 30%;
}

.txt p:first-child {
  margin-bottom: 30px;
}

.arrow-down {
  font-size: 3rem;
}

.cancel {
  margin-bottom: 50px;
}

.pic {
  width: 70%;
}

.jumbo-img {
  width: 100%;
}

/* #endregion JUMBOTRON */

/* #region SUBSCRIPTION */
.subscription {
  padding-top: 150px;
}

.find-your-plan {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.billing {
  margin-bottom: 40px;
}

.billing label {
  margin-right: 70px;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 50px;
}

.card {
  border: 1px solid gainsboro;
  min-width: 340px;
}

.card-bottom {
  padding: 30px;
}

.card h4,
.horizontal-card h4 {
  font-size: 1.9rem;
  margin-bottom: 20px;
}

.target {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid gainsboro;
}

.target i {
  margin-right: 7px;
}

.price {
  margin-bottom: 10px;
}

.payment {
  color: #8b8b8b;
  margin-bottom: 40px;
}

.card .free-try {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.fixed-height {
  height: 380px;
}

.free-try {
  margin-bottom: 30px;
}

.buy-now a {
  text-decoration: underline;
  color: blue;
}

.small-border {
  width: 70px;
  border-top: 1px solid gainsboro;
  margin: 50px 0;
}

.benefits-list div {
  margin-bottom: 20px;
}

.benefits-list div:last-child {
  margin-bottom: 50px;
}

.benefits-list i {
  margin-right: 5px;
}

.card h5 {
  font-size: 1rem;
  margin-bottom: 30px;
}

.highlights {
  margin-bottom: 20px;
}

.highlights:last-child {
  margin-bottom: 0;
}

.highlights i {
  color: var(--buttons-bg);
  margin-right: 5px;
}

.horizontal-card {
  border: 1px solid gainsboro;
  margin-bottom: 150px;
}

.horizontal-card h5 {
  font-size: 1rem;
  margin-bottom: 30px;
}

.horizontal-bottom {
  display: flex;
}
.horizontal-btn {
  width: 300px;
  padding: 10px 0;
}
/* #endregion SUBSCRIPTION */

/* #region PARTNERSHIP */
.partnership {
  display: flex;
  margin-bottom: 150px;
}

.partnership-img {
  width: 60%;
}

.partnership-txt {
  width: 40%;
  padding: 50px;
}

.partnership-img img {
  width: 100%;
}

.partnership h4 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.partnership p {
  margin-bottom: 30px;
}

.partnership button {
  background-color: white;
  border: 1px solid black;
  padding: 15px;
}

.partnership a {
  color: black;
}
/* #endregion PARTNERSHIP */

/* #region BUSINESS */
.business {
  margin-bottom: 150px;
}

.business h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.business-cols {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.business-col {
  padding: 40px 20px 0 20px;
  min-width: 360px;
}

.business-col img {
  width: 100%;
  margin-bottom: 10px;
}

.business-col h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
/* #endregion BUSINESS */

/* #region CLIENTS */
.clients-header {
  margin-bottom: 100px;
}

.clients-header h2 {
  width: 60%;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.clients-header a {
  text-decoration: underline;
  color: blue;
}

.clients-grid {
  margin: auto;
  display: flex;
  width: 100%;
  max-width: 2500px;
}

.left-grid,
.right-grid,
.center-grid {
  width: calc(100% / 12 * 4);
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;
}

.center-grid {
  background-color: var(--middle-designit);
}

.client-square {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-square img {
  width: 40%;
  filter: invert();
}

.center-grid img {
  width: 40%;
}

.center-grid {
  flex-direction: column;
  padding: 50px;
  gap: 30px;
}

.central-square-border {
  width: 80px;
  border-top: 1px solid gainsboro;
}

/* #endregion CLIENTS */

/* #region CALL TO ACTION */

.call-to-action {
  background-color: var(--jumbotron);
  height: 300px;
  margin-bottom: 150px;
}

.call-to-action .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.call-to-action h2 {
  color: var(--free-try);
  font-size: 2.3rem;
  width: 60%;
}

.call-to-action button {
  padding: 7px 40px;
  background-color: #fff;
}

.call-to-action a {
  color: black;
}

/* #endregion CALL TO ACTION */

/* #region FAQ */
.faq {
  margin-bottom: 100px;
}

.faq h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.question {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-reply {
  border-top: 1px solid rgb(153, 153, 153);
}

.question-reply:last-child {
  border-bottom: 1px solid rgb(153, 153, 153);
}

.question i {
  padding: 0 40px;
}

.answer {
  display: none;
  padding-bottom: 20px;
}

.question-reply:hover .answer {
  display: block;
}

/* #endregion FAQ */

/* #endregion MAIN */

/* #region FOOTER */

footer {
  background-color: var(--dark-text);
  color: white;
  padding-top: 100px;
  padding-bottom: 40px;
}

.footer-container {
  width: 70%;
  height: 100%;
  margin: auto;
  max-width: 1450px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.footer-column h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.footer-column p {
  margin-bottom: 10px;
}

.footer-column a {
  color: white;
}

.footer-border {
  width: 120px;
  border-top: 1px solid white;
  margin-bottom: 40px;
}

.language {
  color: gray;
}

.language i {
  margin-right: 5px;
}

.icon-align {
  vertical-align: text-bottom;
}

/* #endregion FOOTER */

/* #region HOVERS */
/* #endregion HOVERS */
