* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

:root {
  --dark-text: #000000;
  --jumbotrone: #b4d0e7;
  --buttons: #0061ff;
  --withe-bg: #ffffff;
  --free-try: #61092c;

  --designit: #a2d39b;
  --florida: #0093ce;
  --arizona: #61082b;
  --topps: #ff1c1c;
  --hearst: #b4d0e7;
  --clear-channel: #ffd830;
  --world-bicycle: #d5001f;
  --lonely-planet: #0d2481;
}

/* #region HEADER */
/* #endregion HEADER */

/* #region MAIN */
/* #endregion MAIN */

/* #region FOOTER */
/* #endregion FOOTER */

/* #region UTILITIES */
/* #endregion UTILITIES */

/* #region HOVERS */
/* #endregion HOVERS */
