* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

:root {
}

/* #region HEADER */
/* #endregion HEADER */

/* #region MAIN */
/* #endregion MAIN */

/* #region FOOTER */
/* #endregion FOOTER */

/* #region UTILITIES */
/* #endregion UTILITIES */

/* #region HOVERS */
/* #endregion HOVERS */
